@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.App {
  text-align: center;
}

span {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: navy;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'Roboto', sans-serif; /* Specify the font family */
  font-weight: 700; /* Make the font bolder */
  color: white;
}

.navbar a {
  text-decoration: none;
  padding: 0 15px;
  color: inherit; /* Ensures the links use the white color specified in .navbar */
}

.navbar a:hover {
  text-decoration: none; /* Removes the underline */
  color: rgb(255, 246, 68); /* Changes the text color to yellow on hover */
}