.ChangePW {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f0f8ff;
    min-height: 100vh;
  }
  
  /* Heading style */
  .ChangePW h1 {
    color: #004175; /* Deeper navy for prominence */
    margin-bottom: 30px;
  }
  
  /* Form container */
  .changePasswordContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 65, 117, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 400px; /* Adjusted for typical form width */
  }
  
  /* Labels */
  .changePasswordContainer label {
    color: #004175;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  /* Input fields */
  .changePasswordContainer Field {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0 20px;
    border: 2px solid #004175;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Submit Button */
  .changePasswordContainer button {
    background-color: #004175; /* A vibrant shade for the button */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .changePasswordContainer button:hover {
    background-color: #004175;/* Darker shade on hover */
  }
  
  /* Error Message */
  .ErrorMessage {
    color: #ff3860; /* Vibrant red for error messages */
    margin: -15px 0 10px;
    font-size: 0.9em;
  }
  
  .changePWField {
    margin: 10px;
  }