.ChatBox {
    font-family: Arial, sans-serif;
    max-width: 1000px; /* or 100%, based on your layout needs */
    margin: 0 auto;
    padding: 20px;
  }
  
  .ChatBox h1 {
    color: #004175; /* Deeper navy for prominence */
    text-align: center;
    margin-bottom: 30px;
  }
  
  .chatBoxContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows containers to wrap if the screen is too narrow */
  }
  
  .sentBoxContainer, .inBoxContainer {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px; /* Adjust as needed */
    width: 48%; /* Ensures both containers can fit side by side */
    max-width: calc(50% - 20px); /* Adjust for margins */
  }
  
  .chatInfo {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  .chatContent {
    font-weight: bold;
  }
  
  .nickname, .chatTime {
    font-size: 0.9rem;
    color: #666;
    margin-top: 5px;
  }
  
  .nickname {
    color: #004175; /* Adds distinction */
  }
  
  .chatTime {
    font-size: 0.8rem; /* Smaller to differentiate from content and nickname */
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .newMessageContainer {
    background-color: #fff;
    width: 40%; /* Adjust based on your preference */
    max-width: 500px; /* Ensures it doesn't get too wide */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between form elements */
    animation: popEffect 0.3s ease-out; /* Reuse the popEffect animation */
  }
  
  .newMessageContainer label {
    color: #004175; /* Navy color for labels */
    font-weight: 500;
  }
  
  .newMessageContainer input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .newMessageContainer button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px; /* Extra space above buttons */
  }
  
  /* Specifically style the send button */
  .newMessageContainer button:first-of-type {
    background-color: #004175;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Hover effect for send button */
  .newMessageContainer button:first-of-type:hover {
    background-color: #002d4b;
  }
  
  /* Cancel button styles */
  .newMessageContainer button:last-of-type {
    background-color: #ccc;
    color: #333;
  }
  
  /* Hover effect for cancel button */
  .newMessageContainer button:last-of-type:hover {
    background-color: #bbb;
  }
  
  