/* Overall page styling */
.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f0f8ff; /* Light azure for contrast with navy elements */
    min-height: 100vh;
  }
  
  /* Heading style */
  .Login h1 {
    color: #004175; /* Deeper navy for prominence */
    margin-bottom: 30px;
  }
  
  /* Form container */
  .loginContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 65, 117, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 400px; /* Adjusted for typical login form width */
  }
  
  /* Labels */
  .loginContainer label {
    color: #004175;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  /* Input fields */
  .loginContainer Field {
    width: 100%;
    padding: 12px 0; /* Adjust padding to fit your design */
    margin: 8px 0 20px;
    border: none; /* Remove default border */
    border-bottom: 2px solid #004175; /* Underline effect */
    box-sizing: border-box;
    outline: none; /* Removes the outline to keep focus style clean */
  }
  
  /* Submit Button */
  .loginContainer button {
    background-color: #004175; /* A vibrant shade for the button */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .loginContainer button:hover {
    background-color: #2e597c; /* Darker shade on hover */
  }
  
  /* Error Message */
  .ErrorMessage {
    color: #ff3860; /* Vibrant red for error messages */
    margin: -15px 0 10px;
    font-size: 0.9em;
  }
  